@import '../variables';

.skill {
    width: 30vw;
    border-bottom: 1px solid $--theme-on-surface;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin-bottom: 2rem;
    align-items: center;
    column-gap: 2rem;

    .skill-name {
        text-transform: capitalize;
    }
}